# macOS files
.DS_Store

# aoc-cli
.adventofcode.session

# godot
.godot

# vsc
.vscode

# clojure
.calva

# kotlin
out
.idea
*.iml

# C#
bin
obj
.config

# Haskell
dist-newstyle
generated.hs
*.hi
dist

# C
*.o
*.exe
*.out